
@{
    ViewData["Title"] = "Password Reset Confirmation";
}

@section PageHeader {
    <div class="alus-breadcrumb breadcrumb-layout1" style="background-image:url();">
        <div class="container">
            <div class="breadcrumb-title-inner">

                <h3 class="breadcrumb-title">Reset password confirmation</h3>

                <div class="breadcrumbs">

                    <div class="breadcrumbs-content">
                        <a asp-controller="Home" asp-action="Index" title="Home">Home</a>
                        <span class="divider">
                            <i class="fas fa-angle-right"></i>
                        </span>
                        <a asp-controller="Account" asp-action="Login" title="Login">Login</a>
                        <span class="divider">
                            <i class="fas fa-angle-right"></i>
                        </span>Reset password confirmation
                    </div>
                </div>
            </div>
        </div>
    </div>
}

    <h1>Your password has been reset. Please <a class="btn btn-primary" asp-action="Login">click here to log in</a>.</h1>

