@model FossTech.Models.Menu.Menu

@{
    ViewData["Title"] = "Edit";
}
<div class="col-sm-12">
    <div class="card">
        <div class="card-header pb-1">
            <h2>Edit Menu</h2>
        </div>
        <div class="card-body">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Type" class="control-label"></label>
                    <select asp-for="Type" class="type form-control">
                        <option value="interLink">Internal Link</option>
                        <option value="externalLink">External Link</option>
                        <option value="productCollection">Product Collection</option>
                        <option value="categoryCollection">Category Collection</option>
                        <option value="subCategoryCollection">Sub Category Collection</option>
                        <option value="customPageCollection">Custom Page Collection</option>
                    </select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>

                <div class="form-group mb-3" id="url">
                    <label asp-for="Url" class="control-label"></label>
                    <input asp-for="Url" class="form-control" style="border-radius:10px;" />
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>


                <div id="products" class="form-group mb-3" style="display: none">
                    <label asp-for="MenuProducts" class="control-label"></label>
                    <select multiple="multiple" data-style="btn-info" id="product-select" style="border-radius:10px;" data-live-search="true" name="products" class="selectpicker form-control" asp-items="ViewBag.Products"></select>
                    <span asp-validation-for="MenuProducts" class="text-danger"></span>
                </div>

                <div id="categories" class="form-group mb-3" style="display: none">
                    <label asp-for="MenuCategories" class="control-label"></label>
                    <select multiple="multiple" data-style="btn-info" id="category-select" style="border-radius:10px;" data-live-search="true" name="categories" class="selectpicker form-control" asp-items="ViewBag.Categories"></select>
                    <span asp-validation-for="MenuCategories" class="text-danger"></span>
                </div>

                <div id="subCategories" class="form-group mb-3" style="display: none">
                    <label asp-for="MenuSubCategories" class="control-label"></label>
                    <select multiple="multiple" data-style="btn-info" id="sub-category-select" style="border-radius:10px; data-live-search="true" name="subCategories" class="selectpicker form-control" asp-items="ViewBag.SubCategories"></select>
                    <span asp-validation-for="MenuSubCategories" class="text-danger"></span>
                </div>

                <div id="pages" class="form-group mb-3" style="display: none">
                    <label asp-for="MenuPages" class="control-label"></label>
                    <select multiple="multiple" data-style="btn-info" id="page-select" data-live-search="true" name="pages" class="selectpicker form-control" asp-items="ViewBag.Pages"></select>
                    <span asp-validation-for="MenuPages" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Order" class="control-label"></label>
                    <input asp-for="Order" class="form-control" />
                    <span asp-validation-for="Order" class="text-danger"></span>
                </div>

                <div id="display" class="form-group mb-3" style="display: none">
                    <label asp-for="DisplayAs" class="control-label"></label>
                    <select asp-for="DisplayAs" class="form-control">
                        <option value="dropdown">Dropdown Menu</option>
                        <option value="list">Product list page</option>
                    </select>
                </div>

                <div id="home" class="form-group mb-3 form-check" style="display: none">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="ShowOnHomeScreen" /> @Html.DisplayNameFor(model => model.ShowOnHomeScreen)
                    </label>
                </div>

                <div class="form-group px-4 mb-3 row">
                    <div class="col-lg-6">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="ShowInHeader" /> @Html.DisplayNameFor(model => model.ShowInHeader)
                        </label>
                    </div>


                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="ShowInFooter" /> @Html.DisplayNameFor(model => model.ShowInFooter)
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            </form>
        </div>

    </div>

    <div class="mt-3">
        <a asp-action="Index" class="btn btn-info">Back to List</a>
    </div>
</div>

@section styles
    {
    <link href="~/lib/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
}

@section Scripts {
    @{

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/lib/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script>
        $(document).ready(function () {

            if ($("#Type").val() === "productCollection") {
                $("#url").hide();
                $("#products").show();
                $("#display").show();
                $("#pages").hide();
                $("#home").show();
            }
            if ($("#Type").val() === "categoryCollection") {
                $("#categories").show();
                $("#url").hide();
                $("#display").hide();
                $("#products").hide();
                $("#pages").hide();
                $("#home").hide();
            }
            if ($("#Type").val() === "subCategoryCollection") {
                $("#subCategories").show();
                $("#url").hide();
                $("#display").hide();
                $("#products").hide();
                $("#pages").hide();
                $("#home").hide();
            }
            if ($("#Type").val() === "customPageCollection") {
                $("#pages").show();
                $("#subCategories").hide();
                $("#url").hide();
                $("#display").hide();
                $("#products").hide();
                $("#home").hide();
            }




            $("select.type").change(function () {
                var selectedType = $(this).children("option:selected").val();
                if (selectedType === "interLink" || selectedType === "externalLink") {
                    $("#url").show();
                    $("#products").hide();
                    $("#subCategories").hide();
                    $("#pages").hide();
                    $("#display").hide();
                    $("#home").hide();
                    $("#categories").hide();

                } else if (selectedType === "productCollection") {
                    $("#categories").hide();
                    $("#subCategories").hide();
                    $("#url").hide();
                    $("#products").show();
                    $("#pages").hide();
                    $("#display").show();
                    $("#home").show();
                } else if (selectedType === "categoryCollection") {
                    $("#categories").show();
                    $("#subCategories").hide();
                    $("#url").hide();
                    $("#display").hide();
                    $("#pages").hide();
                    $("#products").hide();
                    $("#home").hide();
                }
                else if (selectedType === "subCategoryCollection") {
                    $("#subCategories").show();
                    $("#categories").hide();
                    $("#url").hide();
                    $("#display").hide();
                    $("#products").hide();
                    $("#pages").hide();
                    $("#home").hide();
                }
                else if (selectedType === "customPageCollection") {
                    $("#pages").show();
                    $("#subCategories").hide();
                    $("#categories").hide();
                    $("#url").hide();
                    $("#display").hide();
                    $("#products").hide();
                    $("#home").hide();
                }
            });


        });

    </script>
}
