@model IEnumerable<FossTech.Areas.FossTech.ViewModels.UniqueVisitorViewModel>

@{
    ViewData["Title"] = "Unique Visitors Chart";
}

<div class="container">
    <div class="card p-5 mx-auto" style="width:85%">
        <canvas id="myChart"></canvas>
    </div>
    <div class="text-center">
        <button onclick="downloadChart()" class="btn btn-primary m-5">Download Chart</button>
    </div>
</div>

@section styles {
    <link rel="stylesheet" type="text/css" href="~/lib/DataTables/Buttons-1.6.1/css/buttons.dataTables.min.css" />
    <link href="~/dashboard/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}

@section Scripts {
    <script src="~/dashboard/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/dashboard/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="js/demo/datatables-demo.js"></script>
    <script type="text/javascript" src="/lib/DataTables/JSZip-2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="/lib/DataTables/Buttons-1.6.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="/lib/DataTables/pdfmake-0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="/lib/DataTables/pdfmake-0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="/lib/DataTables/Buttons-1.6.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="/lib/DataTables/Buttons-1.6.1/js/buttons.print.min.js"></script>

    <script>
        const ctx = document.getElementById('myChart');

        var titles = [];
        var listItems = [];

        @foreach (var item in Model)
        {
            <text>
                        titles.push('@item.Date.ToString("yyyy-MM-dd")');
                        listItems.push(@item.VisitorCount);

            </text>
        }

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: titles,
                datasets: [{
                    label: 'Unique Visitors Chart',
                    data: listItems,
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        function downloadChart() {
            const canvas = document.getElementById('myChart');
            const downloadLink = document.createElement('a');
            downloadLink.setAttribute('download', 'uniquevisitors.png');
            canvas.toBlob(function (blob) {
                const url = URL.createObjectURL(blob);
                downloadLink.setAttribute('href', url);
                downloadLink.click();
                URL.revokeObjectURL(url);
            });
        }
    </script>
}
