@model FossTech.Models.Review

@{
    ViewData["Title"] = "Edit";
}
<div class="col-sm-12">
    <div class="card">
        <div class="card-header pb-1">
            <h2>Edit Review</h2>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

        </div>
        <div class="card-body">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group mb-3">
                    <label asp-for="ProductId" class="control-label"></label>
                    <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                    <span asp-validation-for="ProductId" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="UserId" class="control-label"></label>
                    <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <div class="rating">
                    <label>
                        <input type="radio" asp-for="Rating" value="1" />
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" asp-for="Rating" value="2" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" asp-for="Rating" value="3" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" asp-for="Rating" value="4" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" asp-for="Rating" value="5" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                </div>
                <div class="form-group mb-3">
                    @*<label asp-for="Rating" class="control-label"></label>
            <input asp-for="Rating" class="form-control" />*@
                    <span asp-validation-for="Rating" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Headline" class="control-label"></label>
                    <input asp-for="Headline" class="form-control" />
                    <span asp-validation-for="Headline" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="WrittenReview" class="control-label"></label>
                    <input asp-for="WrittenReview" class="form-control" />
                    <span asp-validation-for="WrittenReview" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="CreatedAt" class="control-label"></label>
                    <input asp-for="CreatedAt" class="form-control" />
                    <span asp-validation-for="CreatedAt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="mt-3">
        <a asp-action="Index" class="btn btn-info">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
