@model FossTech.Models.BankAccount
<div class="col-sm-12">
    <div class="card">
        <div class="card-header pb-1">

            <h2>Bank Account Details</h2>

            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

        </div>
        <div class="card-body">
            <form asp-action="Index">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group mb-3 required row">
                    <div class="col-lg-6">
                        <label asp-for="BankName" class="control-label"></label>
                        <input asp-for="BankName" class="form-control" style= "border-radius: 10px;" />
                        <span asp-validation-for="BankName" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6">
                        <label asp-for="AccountName" class="control-label"></label>
                        <input asp-for="AccountName" class="form-control" style= "border-radius: 10px;" />
                        <span asp-validation-for="AccountName" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group mb-3 required row">
                    <div class="col-lg-6">
                        <label asp-for="AccountNumber" class="control-label"></label>
                        <input asp-for="AccountNumber" class="form-control" style= "border-radius: 10px;" />
                        <span asp-validation-for="AccountNumber" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6">
                        <label asp-for="BankIfsc" class="control-label"></label>
                        <input asp-for="BankIfsc" class="form-control" style=" border-radius: 10px;" />
                        <span asp-validation-for="BankIfsc" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group mb-3 required row">
                    <div class="col-lg-6">
                        <label asp-for="AadhaarNumber" class="control-label"></label>
                        <input asp-for="AadhaarNumber" class="form-control" style= "border-radius: 10px;" />
                        <span asp-validation-for="AadhaarNumber" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6">
                        <label asp-for="PanNumber" class="control-label"></label>
                        <input asp-for="PanNumber" class="form-control" style= "border-radius: 10px;" />
                        <span asp-validation-for="PanNumber" class="text-danger"></span>
                    </div>

                </div>

                
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    @* <input type="button" value="cancel" class="btn btn-primary" /> *@
                </div>
            </form>
        </div>
    </div>

</div>

