@model FossTech.Areas.FossTech.ViewModels.StudentProfileViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Meta -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="~/dashboard/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet" asp-append-version="true">
    <!-- Custom styles for this template-->
    <link href="~/dashboard/css/sb-admin-2.min.css" rel="stylesheet" asp-append-version="true">

    <!-- Pignose Calender -->
    <link href="~/admin/plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet" asp-append-version="true">
    <!-- Chartist -->
    <link rel="stylesheet" href="~/admin/plugins/chartist/css/chartist.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/admin/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css" asp-append-version="true">
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" asp-append-version="true" />

    <script src="https://kit.fontawesome.com/f3efde081d.js" crossorigin="anonymous" asp-append-version="true"></script>

</head>

<body id="page-top">

    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    <div class="row py-4">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header pb-1">
                                    <h5 class="fw-bold">Student Registration</h5>
                                </div>
                    <div class="card-body">

                        <form asp-action="Index" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group mb-3 row">
                                <div class="col-lg-4">
                                    <label asp-for="FirstName" class="control-label"></label>
                                    <input asp-for="FirstName" class="form-control" style="border-radius: 10px;" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="col-lg-4">
                                    <label asp-for="LastName" class="control-label"></label>
                                    <input asp-for="LastName" class="form-control" style=" border-radius: 10px;" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <div class="col-lg-4">
                                    <label asp-for="ProfilePhoto" class="control-label"></label>
                                    <input asp-for="ProfilePhoto" class="form-control" style=" border-radius: 10px;" />
                                    <span asp-validation-for="ProfilePhoto" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group mb-3 row">
                                <div class="col-lg-4">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" style=" border-radius: 10px;" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="col-lg-4">
                                    <label asp-for="MobileNumber" class="control-label"></label>
                                    <input asp-for="MobileNumber" class="form-control" style=" border-radius: 10px;" />
                                    <span asp-validation-for="MobileNumber" class="text-danger"></span>
                                </div>
                                <div class="col-lg-4">
                                    <label asp-for="DateOfBirth" class="control-label"></label>
                                    <input asp-for="DateOfBirth" class="form-control" style=" border-radius: 10px;" />
                                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group mb-3 row">
                                <div class="col-lg-6">
                                    <label asp-for="Gender" class="control-label"></label>
                                    <select asp-for="Gender" class="form-control" style=" border-radius: 10px;">
                                        <option value="">-- Select --</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <label asp-for="BranchId"></label>
                                    <select data-style="btn-info" asp-for="BranchId" style="border-radius: 10px;" class="selectpicker form-control" asp-items="ViewBag.Branches"></select>
                                    <span asp-validation-for="BranchId" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label asp-for="Courses"></label>
                                <select multiple="multiple" data-style="btn-info" asp-for="Courses" style="border-radius: 10px;" class="selectpicker form-control" asp-items="ViewBag.Products">
                                </select>
                                <span asp-validation-for="Courses" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-3 row">
                                <div class="col-lg-6">
                                    <label asp-for="Password" class="control-label"></label>
                                    <input asp-for="Password" class="form-control" style="border-radius: 10px;" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="col-lg-6">
                                    <label asp-for="ConfirmPassword" class="control-label"></label>
                                    <input asp-for="ConfirmPassword" class="form-control" style=" border-radius: 10px;" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>

                    </div>
                    </div>
                    </div>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <footer class="sticky-footer py-2" style="background-color: #233D81">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto d-flex flex-column flex-md-row align-items-center justify-content-between">
                        <p class="m-0 text-white">Proudly Made for INDIA. <img style="height: 40px;width: 40px;" src="~/india.png" alt=""></p>
                        <p class="m-0 text-white mt-0 mt-2 mt-md-0">Copyright © @DateTime.Now.Year <a href="https://fosstechuzon.com" style="color: #F7DA96;">FossTechUzon LLP</a> All Right Reserved. Designed & Developed by <a href="https://fosstechuzon.com" style="color: #F7DA96;">FossTechUzon LLP</a></p>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>

    </div>


    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top" style="background-color: #233D81">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="~/dashboard/vendor/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/dashboard/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/dashboard/js/sb-admin-2.min.js" asp-append-version="true"></script>
    <script src="~/lib/select2/js/select2.min.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {

            $("#Roles").select2();
            $("#Courses").select2();
        });
    </script>

</body>

</html>